name: build-release-jar
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: "ubuntu-22.04"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: "docker compose run gradle gradle shadowJar"
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "build ${{ github.sha }}"
          files: |
            build/libs/*-plugin.jar
